<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <script>
        window.onload=function(){ 
            var c=new Vue({
                el:'#app',
                data:{
                    mes:'你好',
                    arr:['苹果','香蕉','梨','桃'],
                    json:{a:'apple',b:'banana'}
                },
              methods:{
                  show:function(){
                      console.log(this)
                          this.arr.push('荔枝')
                   
                  }
              }
            })
        }
    </script>
</head>
<body>
    <div id="app">
       {{mes}}
       <div v-for='item in arr'>{{item}} {{$index}}</div>
       <ul>
           <li v-for='item in json' >{{item}}{{$key}}{{$index}}</li>
       </ul>
       <button v-on:click='show()'>tijiao</button>
       <ul>
           <li v-for='intm in arr' :key='index'></li>
       </ul>
    </div>
    
</body>
</html>