<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap.min.css">

    <script src="lib/jquery-1.7.2.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="vue.js"></script>
    <title>Document</title>
    <style>
        #box {
            padding-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container" id="box">
        <form>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" placeholder="请输入名字" v-model="username">
            </div>
            <div class="form-group">
                <label for="">年龄</label>
                <input type="text" class="form-control" id="age" placeholder="请输入名字" v-model="age">
            </div>
            <button type="button" class="btn btn-primary" v-on:click=add()>添加</button>
            <button type="reset" class="btn btn-danger">重置</button>
            <table class="table table-bordered table-hover">
                <caption class="h4 text-info form-group">用户信息表</caption>
                <tr class="text-danger">
                    <th class="text-center">序号</th>
                    <th class="text-center">名字</th>
                    <th class="text-center">年龄</th>
                    <th class="text-center">操作</th>
                </tr>
                <tr class="text-center" v-for="item in myData">
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm active" data-toggle="modal" data-target='#layer' v-on:click="nowindex=$index">删除</button>
                    </td>
                </tr>

                <tr v-show='myData.length!=0'>
                    <td colspan="4" class="text-center">
                        <button class="btn btn-danger btn-sm" v-on:click="nowindex=-2" data-toggle="modal" data-target="#layer">删除全部</button>
                    </td>
                </tr>
                <tr class="text-center text-muted" v-show='myData.length==0'>
                    <td colspan="4">
                        <p>暂无数据......</p>
                    </td>
                </tr>

            </table>
            <!-- 模态框 -->
            <div role="dialog" class="modal bs-example-modal-sm fade" id="layer" data-index="{{nowindex}}">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close">
                                <span>&times</span>
                            </button>
                            <h4 data-dismiss="modal" class="modal-title" v-on:click='deletemag'>确认删除吗？</h4>
                        </div>
                        <div class="modal-body text-right">
                            <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                            <button data-dismiss="modal" class="btn btn-danger btn-sm" v-on:click="deletemag(nowindex)">确认</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <script>
        // $(function(){
        //     new vue({
        //         el:'#box',
        //         data:{
        //             myData:[

        //             ]
        //         }
        //     })
        // })
        window.onload = function () {
            new Vue({
                el: '#box',
                data: { //数据
                    myData: [],
                    username: '',
                    age: '',
                    nowindex: -1000,
                },
                methods: {
                    add: function () {
                        //  this.myData.push({
                        //      name:this.username,
                        //      age:this.age
                        //  })
                        if (this.username == '' || this.age == '') {
                            return null
                        }
                        this.myData.push({
                            name: this.username,
                            age: this.age
                        });

                        this.username = '';
                        this.age = '';
                    },
                    deletemag: function (n) {
                        if (n == -2) {
                            this.myData = []
                            alert(1)
                        } else {
                            this.myData.splice(n, 1)
                        }

                    }
                }
            });
        };
    </script>
</body>

</html>